	html{
	font-family:sans-serif;
	height:100%;
	background-color:black;
	}
	/*display the children of the body's
	as flex box item, deirection is column*/
	body{
	display:flex;
	flex-direction:column;
	min-height:100%;
	}
	h2{
	text-align:center;
	color:lightgrey;
	}
	main{
	background-color:lightgray;
	margin:0 auto 10px auto;
	width:50%;
	height:70%;
	}
	.wrapper1{
	display:flex;
	height:70%;
	background-color:lightgrey;
	align-items:center;
	justify-content:center;
	}
	#gc {
	margin:auto ;
	
	}
	.wrapper2 p{
		font-style:italic;
		font-size:1.0em;
		margin:auto 5px auto 5px;
		color:lightgrey;
	}
	.utility{
		height:100%;

	}
	
	.scoreLabel{
		margin:180px auto 5px auto;
		font-size:1.0em;
		font-style:italic;
	}
	
	.turn p{
		padding:20px 0 0 0;
		font-style:italic;
	}
	.imgwrapper {
		display:flex;
		justify-content:center;
	}
	.imgwrapper img{
		height:40%;
		margin:auto 16% auto 16%;
	}
	.player{
		display:flex;
		justify-content:center;
		height:5%;
		margin:20px 0 0 0;
	}
	.player h4{
		width:50%;
		text-align:center;
	}
	.turn{
	height:5%;
	text-align:center;
	font-size:1.4em;
	}
	
	.selection{
		height:100%;
	}
	h4{
		color:lightgrey;
	}
	
	.start{
	text-align:center;
	}
	.start>button{
	width:50%;
	height:8%;
	margin:20px auto;
	background-color:#6f6f6f;
	color:white;
	}
	.wrapper2{
	margin:5px 0 5px 0;
	display:flex;
	align-items:center;
	justify-content:center;
	height:30%;
	background-color:black;
	}
	.wrapper1 button:active , .wrapper2 button:active{
	background-color:#c2c2c2;
	color:#818181;
	}
	.wrapper2 button{
	margin:5px;
	background-color:#6f6f6f;
	color:white;
	height:25px;
	}

	footer{
	margin:10px 0 10px 0;
	text-align:center;
	color:grey;
	}
/*rules for media query*/
/*rules for small screen devices (phones)*/
	@media screen and (max-width: 480px) {
/*rearrage the order of main, h2, and footer */
	main{
	width:100%;
	height:80%;
	order:1;
	}
	#gc{
		height:70%;
		width:70%;
	}
	h2{
	order:2;
	font-size:0.8em;
	}
	footer{
	order:3;
	}
	}
/* rules for small screen lanscape oreientation*/
	@media screen and (max-height:480px) and (orientation: landscape) {
/* add a felx display property to main and change the flex direction
 of main to row, so that the wrapper 1 and wrapper 2 will be align
 horizontally*/
	main{
	display:flex;
	flex-direction:row;
	width:100%;
	order:1;
	height:80%;
	}
	
	.wrapper1{
		margin:0 5px 0 0;
	flex-grow:3;
	height:100%;
	}
	.wrapper2{
		margin:0;
		height:100%;
	display:flex;
	align-items:flex-start;
	}
	.wrapper2 h4{margin:0;}
	/* flex wrap make the flex items wrap to a new row*/
	body{
	flex-direction:row;
	flex-wrap:wrap;
	}

	h2{
	width:75%;
	order:2;
	}
	footer{
	font-size:0.8em;
	order:3;
	width:25%;
	vertical-align:center;
	}
	}
	
	.popup {
			width:100%;
			position: relative;
			display: inline-block;
		}
		.popuptext {
			visibility:hidden;
			width:50%;
			height:90px;
			background-color: lightblue;
			color: black;
			text-align: center;
			border-radius:6px;
			position:absolute;
			left:25%;
			top:10%;
			z-index:1;
			font-family:Teko;
			font-size:200%;
		}
		.popup .show {
			visibility: visible;
		}
		td{
			border-radius:3px;
			}
		td:active{
			background-color:lightblue!important;
			}
		img{
			width:50%;
			height:50%;
			}
		p{
			margin:auto;
			text-align:center;
			font-size:150%;
		}
/*give some padding space to the content in table*/
		table {
			margin: 0 auto;
			background-color:white;
			padding:20px 20px 20px 20px;
		}  
		td {
			border:1px double darkblue; 
			width: 50px;
			height: 50px;
			font-size: 100%;
			font-family: sans-serif;
			color:darkblue;
			text-align:center;
		} 
/*class material SYST10049 Web Development Winter 2017*/
		tr:first-child td {
			border-top: none;
		}
		tr:last-child td {
			border-bottom: none;
		}
		td:first-child {
			border-left: none;
		}
		td:last-child {
			border-right: none;
		}
		footer {
			font-size:1.0em;
			text-align:center;
			}